img {
  width: 150px;
  height: auto;
}

table,tr,td {
  vertical-align: top;
}

.example-card {
  max-width: 400px;
}

body {
  text-align: center;
}
.center {
  margin: auto;
  width: 95%;
  padding: 10px;
}
